*{
    margin: 0;

}

body{
    background-color: #d81ed2;
    
}


.header-end{
    margin: 1vh;
    margin-left: auto;

    font-size: 32px;
    font-weight: bold;
}

Header{
    background-color: #8a0187;  
    
    padding: 2vh; 
    display: flex;
}

.screen-title{
    margin: 1vh;
    margin-right: auto;
    display: flex;
    font-style: italic;
    font-size: 32px;
}